
#ignore config files
config/config.js
config/passport.js
config/middleware/isAuthenticated.js

#ignore DB files
db/

#ignore model files
models/index.js
models/user.js

#ignore node modules
node_modules
